<a href="https://colab.research.google.com/github/izzul112/Submission-NLP/blob/master/Submission_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('test.csv')
# df = df.drop(columns=['judul_film'])

In [2]:
df.rename(columns={'Class Index':'Class_Index'}, inplace=True)

In [3]:
df.head

<bound method NDFrame.head of       Class_Index  ...                                        Description
0               3  ...  Unions representing workers at Turner   Newall...
1               4  ...  SPACE.com - TORONTO, Canada -- A second\team o...
2               4  ...  AP - A company founded by a chemistry research...
3               4  ...  AP - It's barely dawn when Mike Fitzpatrick st...
4               4  ...  AP - Southern California's smog-fighting agenc...
...           ...  ...                                                ...
7595            1  ...  Ukrainian presidential candidate Viktor Yushch...
7596            2  ...  With the supply of attractive pitching options...
7597            2  ...  Like Roger Clemens did almost exactly eight ye...
7598            3  ...  SINGAPORE : Doctors in the United States have ...
7599            3  ...  EBay plans to buy the apartment and home renta...

[7600 rows x 3 columns]>

In [4]:
category = pd.get_dummies(df.Class_Index)
df_baru = pd.concat([df, category], axis=1)
df_baru = df_baru.drop(columns='Class_Index')
df_baru

                                                  Title  ...  4
0                     Fears for T N pension after talks  ...  0
1     The Race is On: Second Private Team Sets Launc...  ...  1
2         Ky. Company Wins Grant to Study Peptides (AP)  ...  1
3         Prediction Unit Helps Forecast Wildfires (AP)  ...  1
4           Calif. Aims to Limit Farm-Related Smog (AP)  ...  1
...                                                 ...  ... ..
7595                                   Around the world  ...  0
7596                        Void is filled with Clement  ...  0
7597                             Martinez leaves bitter  ...  0
7598  5 of arthritis patients in Singapore take Bext...  ...  0
7599                             EBay gets into rentals  ...  0

[7600 rows x 6 columns]

1 = World

2 = Sports

3 = Business

4 = Sci/Tech

In [6]:
judul = df_baru['Title'].values
label = df_baru[['1', '2', '3', '4']].values

KeyError: ignored