<a href="https://colab.research.google.com/github/izzul112/Submission-NLP/blob/master/Submission_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('test.csv')
df = df.drop(columns=['Title'])

In [2]:
# Untuk mengganti nama kolom dari  Class Index menjadi Class_Index

df.rename(columns={'Class Index':'Class_Index'}, inplace=True)

In [3]:
df.head

<bound method NDFrame.head of       Class_Index                                        Description
0               3  Unions representing workers at Turner   Newall...
1               4  SPACE.com - TORONTO, Canada -- A second\team o...
2               4  AP - A company founded by a chemistry research...
3               4  AP - It's barely dawn when Mike Fitzpatrick st...
4               4  AP - Southern California's smog-fighting agenc...
...           ...                                                ...
7595            1  Ukrainian presidential candidate Viktor Yushch...
7596            2  With the supply of attractive pitching options...
7597            2  Like Roger Clemens did almost exactly eight ye...
7598            3  SINGAPORE : Doctors in the United States have ...
7599            3  EBay plans to buy the apartment and home renta...

[7600 rows x 2 columns]>

In [4]:
category = pd.get_dummies(df.Class_Index)
df_baru = pd.concat([df, category], axis=1)
df_baru = df_baru.drop(columns='Class_Index')
df_baru

                                            Description  1  2  3  4
0     Unions representing workers at Turner   Newall...  0  0  1  0
1     SPACE.com - TORONTO, Canada -- A second\team o...  0  0  0  1
2     AP - A company founded by a chemistry research...  0  0  0  1
3     AP - It's barely dawn when Mike Fitzpatrick st...  0  0  0  1
4     AP - Southern California's smog-fighting agenc...  0  0  0  1
...                                                 ... .. .. .. ..
7595  Ukrainian presidential candidate Viktor Yushch...  1  0  0  0
7596  With the supply of attractive pitching options...  0  1  0  0
7597  Like Roger Clemens did almost exactly eight ye...  0  1  0  0
7598  SINGAPORE : Doctors in the United States have ...  0  0  1  0
7599  EBay plans to buy the apartment and home renta...  0  0  1  0

[7600 rows x 5 columns]

1 = World

2 = Sports

3 = Business

4 = Sci/Tech

In [5]:
judul = df_baru['Description'].values
label = df_baru[[1, 2, 3, 4]].values

In [6]:
from sklearn.model_selection import train_test_split
judul_latih, judul_test, label_latih, label_test = train_test_split(judul, label, test_size=0.2)

In [7]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
 
tokenizer = Tokenizer(num_words=5000, oov_token='x')
tokenizer.fit_on_texts(judul_latih) 
# tokenizer.fit_on_texts(sinopsis_test)
 
sekuens_latih = tokenizer.texts_to_sequences(judul_latih)
sekuens_test = tokenizer.texts_to_sequences(judul_test)
 
padded_latih = pad_sequences(sekuens_latih) 
padded_test = pad_sequences(sekuens_test)

In [8]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=5000, output_dim=16),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(512, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(4, activation='softmax')
])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [9]:
num_epochs = 30
history = model.fit(padded_latih, label_latih, epochs=num_epochs, 
                    validation_data=(padded_test, label_test), verbose=2)

Epoch 1/30
190/190 - 11s - loss: 1.1228 - accuracy: 0.4230 - val_loss: 0.8801 - val_accuracy: 0.6046
Epoch 2/30
190/190 - 11s - loss: 0.6447 - accuracy: 0.7150 - val_loss: 0.6600 - val_accuracy: 0.7401
Epoch 3/30
190/190 - 11s - loss: 0.3606 - accuracy: 0.8712 - val_loss: 0.6154 - val_accuracy: 0.7908
Epoch 4/30
190/190 - 11s - loss: 0.2318 - accuracy: 0.9243 - val_loss: 0.6690 - val_accuracy: 0.8105
Epoch 5/30
190/190 - 11s - loss: 0.1566 - accuracy: 0.9500 - val_loss: 0.6934 - val_accuracy: 0.7987
Epoch 6/30
190/190 - 11s - loss: 0.1195 - accuracy: 0.9635 - val_loss: 0.8214 - val_accuracy: 0.7954
Epoch 7/30
190/190 - 11s - loss: 0.0910 - accuracy: 0.9730 - val_loss: 0.8535 - val_accuracy: 0.7895
Epoch 8/30
190/190 - 11s - loss: 0.0804 - accuracy: 0.9729 - val_loss: 0.9579 - val_accuracy: 0.7974
Epoch 9/30
190/190 - 11s - loss: 0.0634 - accuracy: 0.9801 - val_loss: 1.0325 - val_accuracy: 0.7770
Epoch 10/30
190/190 - 11s - loss: 0.0389 - accuracy: 0.9893 - val_loss: 1.3804 - val_accuracy: 0.7289
Epoch 11/30
190/190 - 11s - loss: 0.0589 - accuracy: 0.9824 - val_loss: 1.1178 - val_accuracy: 0.7849
Epoch 12/30
190/190 - 11s - loss: 0.0240 - accuracy: 0.9934 - val_loss: 1.3594 - val_accuracy: 0.7908
Epoch 13/30
190/190 - 11s - loss: 0.0283 - accuracy: 0.9910 - val_loss: 1.3570 - val_accuracy: 0.7941
Epoch 14/30
190/190 - 11s - loss: 0.0343 - accuracy: 0.9893 - val_loss: 1.3465 - val_accuracy: 0.7934
Epoch 15/30
190/190 - 11s - loss: 0.0421 - accuracy: 0.9859 - val_loss: 1.3368 - val_accuracy: 0.7967
Epoch 16/30
190/190 - 11s - loss: 0.0375 - accuracy: 0.9885 - val_loss: 1.3247 - val_accuracy: 0.7717
Epoch 17/30
190/190 - 11s - loss: 0.0176 - accuracy: 0.9957 - val_loss: 1.3393 - val_accuracy: 0.7829
Epoch 18/30
190/190 - 11s - loss: 0.0128 - accuracy: 0.9956 - val_loss: 1.4554 - val_accuracy: 0.7849
Epoch 19/30
190/190 - 11s - loss: 0.0098 - accuracy: 0.9970 - val_loss: 1.6446 - val_accuracy: 0.7612
Epoch 20/30
190/190 - 11s - loss: 0.0291 - accuracy: 0.9903 - val_loss: 1.6760 - val_accuracy: 0.7803
Epoch 21/30
190/190 - 11s - loss: 0.0266 - accuracy: 0.9921 - val_loss: 1.3956 - val_accuracy: 0.7855
Epoch 22/30
190/190 - 11s - loss: 0.0204 - accuracy: 0.9944 - val_loss: 1.6415 - val_accuracy: 0.7724
Epoch 23/30
190/190 - 11s - loss: 0.0124 - accuracy: 0.9962 - val_loss: 1.5534 - val_accuracy: 0.7947
Epoch 24/30
190/190 - 11s - loss: 0.0159 - accuracy: 0.9942 - val_loss: 1.5687 - val_accuracy: 0.7875
Epoch 25/30
190/190 - 11s - loss: 0.0167 - accuracy: 0.9957 - val_loss: 1.7237 - val_accuracy: 0.7724
Epoch 26/30
190/190 - 11s - loss: 0.0226 - accuracy: 0.9928 - val_loss: 1.6591 - val_accuracy: 0.7921
Epoch 27/30
190/190 - 11s - loss: 0.0146 - accuracy: 0.9944 - val_loss: 1.7224 - val_accuracy: 0.7868
Epoch 28/30
190/190 - 11s - loss: 0.0174 - accuracy: 0.9947 - val_loss: 1.7625 - val_accuracy: 0.8000
Epoch 29/30
190/190 - 11s - loss: 0.0063 - accuracy: 0.9977 - val_loss: 1.7833 - val_accuracy: 0.7928
Epoch 30/30
190/190 - 11s - loss: 0.0027 - accuracy: 0.9992 - val_loss: 1.9899 - val_accuracy: 0.7928